<configuration debug="false" scan="true">
	<!-- EDEX needs to use both the operational -->
	<property name="messaging.base" value="edex" />
	<include file="${BMH_HOME}/conf/logback-bmh-messages.xml" />
	<!-- and the practice message logs -->
	<property name="messaging.base" value="edex-practice" />
	<property name="logger.prefix" value="PracticeMessage" />
	<include file="${BMH_HOME}/conf/logback-bmh-messages.xml" />

	<!-- general application log -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<encoder>
			<pattern>%-5p %d [%t] %c{0}: %m%n</pattern>
		</encoder>
	</appender>

	<!-- <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender"> 
		<appender-ref ref="console" /> </appender> -->

	<!-- hibernate log -->
	<appender name="HibernateLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-hibernate-%d{yyyyMMdd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-5p %d [%t] %c{0}: %m%n %nopex</pattern>
		</encoder>
	</appender>

	<!-- BMH User Change log -->
	<appender name="BmhUserChangeLogger"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-userChangeSrvRequest-%d{yyyyMMdd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-5p %d [%t] %c{0}: %m%n</pattern>
		</encoder>
	</appender>

	<!-- Practice BMH User Change log -->
	<appender name="PracticeBmhUserChangeLogger"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${edex.home}/logs/edex-${edex.run.mode}-practice-UserChangeSrvRequest-%d{yyyyMMdd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-5p %d [%t] %c{0}: %m%n</pattern>
		</encoder>
	</appender>

	<logger name="BMHSrvRequestLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="BmhUserChangeLogger" />
	</logger>

	<logger name="PracticeBMHSrvRequestLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="PracticeBmhUserChangeLogger" />
	</logger>

	<logger name="com.raytheon">
		<level value="INFO" />
	</logger>

	<!-- default logging -->
	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
	</root>
</configuration>